/* My Personal Website  */

/* BASE STYLES */

* {
  box-sizing: border-box;
}

html, * {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Proxima Nova', 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  max-width: 70em;
  margin: 0 auto;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: pink;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 999;
  transition: transform 0.2s;
}

.back-to-top {
  display: block;
  position: fixed;
  bottom: 7.5em;
  right: 1em;
  background: #F48BA9;
  padding: 0.75em 0.5em;
  z-index: 1;
  line-height: 1;
}

.back-to-top img {
  display: block;
  margin: 0;
}


/* Header */

header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  background-color: white;
  z-index: 998;
  height: 4.25em;
  margin: auto;
  transform: translateX(-50%);
}

.header-container {
  max-width: 70em;
  margin: 0 auto;
  position: relative;
}

.logo {
  margin-top: -1em;
  margin-left: -2em;
}



.nav {
  position: absolute;
  top: 2em;
  right: -1em;
  padding: -0.5em;
  transition: 0.5s;
}

.menu {
  align-items: center;
  left: 1090px;
  top: -15px;
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 3em;
  opacity: 0;
  background: white;
  display: block;
  border-bottom: 5px solid pink;
  margin-top: 2em;
}

.nav input:checked ~ .menu {
  width: auto;
  margin-right: 1em;
  opacity: 1;
}

.menu li {
  list-style: none;
  margin: 0 10px;
  width: 100vw;
}

.menu li a {
  text-decoration: none;
  color: #F7A8B5;
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.5s;
  text-align: center;
  display: block;
  padding: 1em;
}

.nav input {
  width: 3em;
  height: 3em;
  cursor: pointer;
  opacity: 0%;
  position: absolute;
  margin: 0.5em;
  padding: 0;
  right: 1.5em;
  top: -1em;
}

.nav span {
  position: absolute;
  right: 30px;
  width: 30px;
  height: 4px;
  background-color: #F7A8B5;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #F7A8B5;
  transform: rotate(45deg);
}

/*top bar */
.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0px) rotate(-45deg);
}

/*Bottom bar */
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}



/* Banner */

.banner {
  padding-top: 4.5em;
}

.hello {
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 175px;
  color: #FAC2C3;
  text-shadow: -5px -5px #F48BA9;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: #F48BA9;
  max-width: 12em;
}

.click {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-decoration: none;
  background-image: url(img/blob.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2.5em 1.5em;
  transition: opacity 0.3s
}
.click:hover {
  opacity: 0.5;
}



/* About */

.aboutblob {
  position: relative;
  z-index: 1;
}

.aboutimage {
  position: absolute;
  left: 0;
  top: 0;
  padding: 4.5em;
  z-index: 2;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #F48BA9;
}


/* Works */

.works {
  display: grid;
  grid-template-columns: 100%;
}

.work-column {
  padding: 0.5em;
}

.work {
  margin-bottom: 0.5em;
  position: relative;
}

.work img {
  display: block;
  margin: 0;
}

.work-text {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0.5em;
  background: #FAC2C3;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.work:hover .work-text,
.work:focus .work-text,
.work:active .work-text {
  opacity: 1;
}

.work-title {
  font-size: 20px;
}

.work-year {
  font-size: 15px: 
}

.floral-element {
  position: relative;
  padding: 0.5em;
  margin-bottom: 0.5em;
  bottom: -50px;
  max-width: 350px;
}

.coming-soon {
  background: #FAC2C3;
  width: 100%;
  min-height: 170px;
}

.coming-soon-title {
  position: relative;
  font-size: 30px;
  color: white;
  text-align: center;
  top: 65px;
}


/* Footer */
footer {
  background-color: #F7A8B5;
  color: white;
  margin: 5em 0 0 0;
  padding: 1em 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  max-width: 70em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  margin: 0.5em;
  font-size: 16px;
}

footer a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25em
}

.contact-me {
  color: white;
  font-size: 18px;
  text-align: center;
}



/* Grid */

.grid {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  padding: 5em 0;
}

.column {
  position: relative;
  padding: 0.5em;
}



/* Media queries */

@media (min-width: 760px) {

  .menu {
    margin-top: -0.25em;
  }

  .nav input:checked ~ .menu {
    margin-right: 4em;
  }

  .grid {
    grid-template-columns: 50% 50%;
  }

  .works {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .contact-me {
    font-size: 25px;
  }

  .back-to-top {
    bottom: 5.5em;
  }

  .menu {
    display: flex;
    border-bottom: none;
    margin-top: 0;
  }

  .menu li {
    width: auto; 
  }

  .menu li a {
    display: inline;
    padding: 0;
  }


}






